html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Begin page styling */

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 16px;
}


.herosite {
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(13,13,13, 1) 0%,
        rgba(13,13,13, 1) 50%,
        rgba(23,23,23, 1) 50%,
        rgba(23,23,23, 1) 100%);
}
 /* Golden Border on bottom of landing page */
.herosite:after {
    content: "";
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    background-color: goldenrod;
}

/* ##########################################
#############Styling of Navbar ##############
#############################################*/

.navbox{
    padding: 0.4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    transition: background-color ease-in 0.5s;
    z-index: 99;    /*Navbar and logo will always be on top*/
}

#navboxtest.open {
    background-color: rgba(23,23,23,0.7);
}


.navbox__logo {
    font-size: 2.5rem;
    color: goldenrod;
    flex: 1;
}

.navbox__navbar{
    padding: 0;
    margin: 0;
    opacity: 1;
    visibility: visible;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    transition: all ease-in-out 0.5s;
    position: relative;
}

/* Navbar slidein animation  */

#navi.open {
    visibility: hidden;
    opacity: 0;
    transform: translatex(100%) scale(0.1);

}

.navbox__navbar a{
    padding: 1.2rem;
    margin-right: 2rem;
    color: silver;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

/* Styling of Herotext */

.herobox {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: goldenrod;
}


.herobox__name {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    align-self: center;
    margin: 0 0 1rem 0;


}

.herobox__name:before {
    content: "<PS>";
    display: block;
    text-align: center;
}

.herobox__name:after{
    content: "";
    display: block;
    height: 0.5rem;
    width: 4rem;
    background-color: silver;
    margin: 1rem auto 0 auto;

}

.herobox__subtitle{
    margin: 0;
    width: 100%;
    color: silver;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

/* Styling of Subtitle and  swap animation  on landing page */

@keyframes swap_left {
    0% {transform: translatex(0%)}
    40% {transform: translatex(0%)}
    50% {transform: scale(0.5) translatex(27.5%) }
    60% {transform: translatex(42.5%) }
    100%{transform: translatex(42.5%)}
}

@keyframes swap_right {
    0% {transform: translatex(0%)}
    40% {transform: translatex(0%)}
    50% {transform: scale(1.75) translatex(-15%) }
    60% {transform: translatex(-40%) }
    100%{transform: translatex(-40%)}
}

.herobox__subtitle__left{
    width: 45%;
    text-align:right;
    transform-origin: center right;
    animation: swap_left 9s ease-in-out infinite alternate;
}


.herobox__subtitle__right{
    width: 45%;
    transform-origin: center left;
    animation: swap_right 9s ease-in-out infinite alternate;
}

.herobox__subtitle__middle {
    text-align: center;
}

/* ###########################################################
#########   Styling of Burger-Navigation-Item   #################
########################################################### */

.navbox__burgeritem{
    cursor: pointer;
    z-index: 2;
}

.navbox__burgeritem span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 0px 20px 5px 0;
    background-color: silver;
    top: 0;
    position: relative;
    transition: all ease-in-out 0.4s;
}

#navbox__burgercontainer.open span:nth-child(2),
#navbox__burgercontainer.open span:nth-child(3){
    width: 0;
    opacity: 0;
    visibility: hidden;
}

#navbox__burgercontainer.open span:nth-child(4){
    transform: rotate(45deg);
   transform-origin:right center
}

#navbox__burgercontainer.open span:nth-child(1){
    transform: rotate(-45deg);
    transform-origin: right center
}


/* #######################################
###### Animation Styling of Nav-Anchors ##
##########################################*/

.navbox__navbar a:before,
.navbox__navbar a:after {
    content: "";
    width: 2px;
    height: 2rem;
    background-color: goldenrod;
    opacity: 0.4;
    position: absolute;
    transition: all 0.4s;
    top: 25%
}

.navbox__navbar a:before{
    left: 0;
}

.navbox__navbar a:after {
    right: 0;
}

.navbox__navbar a:hover:before{
    left: calc(50% - 1px);
    top: -25%;
    transform: rotate(90deg);
    opacity: 1;
    height: 99%;
}

.navbox__navbar a:hover:after{
    right: calc(50% - 1px);
    bottom: 0;
    top: 25%;
    transform: rotate(90deg);
    opacity: 1;
    height: 99%
}







/* .blubb{
    width: 100%;
    position: relative;
}

.blubb:before,
.blubb:after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: goldenrod;
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
    transition: all 1s;
}

@keyframes leftball {
    0% {left: 40%; top: 0}
    20% {top: 75%; left: calc(50% - 10px)}
    50% {top: 90%; left: calc(50% - 10px); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
    60%, 70%, 80%, 90%, 100% {top: 80%; left: calc(50% - 10px); transform: scale(1.6); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
    65%, 75%, 85%, 95% {top: 90%; left: calc(50% - 10px); transform: scale(1.6); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
}

@keyframes rightball {
    0% {right: 40%; top: 0}
    20% {top: 75%;  right: calc(50% - 10px)}
    50% {top: 200%; right: calc(50% - 10px); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
    60%, 70%, 80%, 90%, 100% {top: 190%; right: calc(50% - 10px); transform: scale(1.6); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
    65%, 75%, 85%, 95%  {top: 200%; right: calc(50% - 10px); transform: scale(1.6); box-shadow: 0px 0px 10px 3px rgba(255, 255, 190, .75)}
}

.blubb:before{
left:40%;
top: 0;
animation: leftball 7s ease-in 3s infinite;
}

.blubb:after{
right: 40%;
top: 0;
animation: rightball 7s ease-in 3s infinite;
}

.blubb:hover:before{
    top: 75%;
    left: calc(50% - 10px);
}

.blubb:hover:after{
    top: 75%;
    right: calc(50% - 10px);
} */