$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 770px)';
$tablet-landscape: '(min-width: 771px) and (max-width: 979px)';
$laptop: '(max-width: 1400px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
};